@page
@model TestAsp.admin.IndexModel

@{
    ViewData["Title"] = "log";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> login </title>
</head>
<body>
<form method="post">
    <input type="text" name="username" placeholder="Login">
    <input type="password" name="password" placeholder="Mot de passe">
    <button>Se connecter</button>
</form>
</body>
</html>